<app-nav userType="company"></app-nav>
<div class="container">
  <div class="card job" *ngFor="let data of candidates">
    <div class="name">{{ data.name }}</div>
    <div class="dim right">Resume</div>
    <div class="email">{{ data.email }}</div>
    <div class="button dim" (click)="showResume(data.email)">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
    </div>
    <div class="contact">{{ data.phone}}</div>
    <div>
      <!-- for empty grid item -->
    </div>
    <div *ngIf="!data.edited">
      <button class="button-red" type="button" (click)="changeStatus('reject', data.email)">Reject</button>
    </div>
    <div *ngIf="!data.edited">
      <button type="button" (click)="changeStatus('select', data.email)">Select</button>
    </div>
  </div>
</div>
