<app-nav></app-nav>
<form class="form-login-signup" method="post">
  <h1>Sign Up</h1>
  <input type="text" [(ngModel)]="name" name="name" placeholder="Name" />
  <input type="email" [(ngModel)]="email" name="email" placeholder="Email" />
  <input
    type="tel"
    [(ngModel)]="contact"
    name="contact"
    placeholder="Contact Number"
  />
  <input type="file" #resume name="resume" accept="application/pdf" />
  <input
    type="password"
    [(ngModel)]="password"
    name="password"
    placeholder="Password"
  />
  <div class="message error">{{ error }}</div>
  <button type="button" (click)="showValue()">Create Account</button>
</form>
