<app-nav></app-nav>
<div class="container">
  <div class="left">
    <div class="title">Clever<span class="highlight">Move</span></div>
    <div class="sub-title">Are you in need of job? Apply now quickly and easily.<br><span class="quote"> It's time to start living the life we've imagined. </span><br><a class="link" routerLink="/signup">Create an account</a> and start looking for your dream job. </div>
    <a class="button" routerLink="/login">Login</a>
  </div>
  <div class="right"></div>
</div>
